.fondo {
    background-color: rgb(44, 44, 69);
    font-family: helvetica;
}

.pie {
    background-color: rgb(194, 31, 34);
    color: rgb(255, 255, 255);
}

.enlaces {
    text-align: right;
}

.parrafo_footer {
    margin-top: 1px;
    margin-bottom: 1px;
}

.logo_inter {
    text-align: center;
}

.ultima_hora {
    background-color: rgb(131, 131, 146);
    border-color: rgb(194, 31, 34);
    border-top: 10px;
    border-bottom: 10px;
}

.fondo_zona_norte {
    background-color: rgb(172, 95, 78);
    background-size: cover;
    background-position: center;
}

.fondo_zona_centro {
    background-color: rgb(105, 163, 88);
    background-size: cover;
    background-position: center;
}

.fondo_zona_sur {
    background-color: rgb(89, 89, 169);
    background-size: cover;
    background-position: center;
}

.fondo_dep_nacional {
    background-color: rgb(131, 131, 146);
    background-size: cover;
    background-position: center;
}

.fondo_dep_internacional {
    background-color: rgb(79, 36, 54);
    background-size: cover;
    background-position: center;
}

.fondo_otros_dep {
    background-color: rgb(68, 68, 90);
    background-size: cover;
    background-position: center;
}

.titulo_football {
    background-color: rgb(194, 31, 34);
    text-align: center;
    color: beige;
}

.carrousel-img {
    width: 100px;
    height: auto;
    object-fit: contain;
}

.carrousel {
    margin-top: 10px;
}

.text_tarjetas {
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img_tarjeta {
    height: 250px;
    object-fit: cover;
}