.fondo {
    background-color: rgb(44, 44, 69)
}

.pie {
    background-color: rgb(194, 31, 34);
}

.enlaces {
    text-align: right;
}

.parrafo_footer {
    margin-top: 1px;
    margin-bottom: 1px;
}